:root {
  /* root pseudo-class */
  /* Fonts */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Colors */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body,
html {
  /* Lock app within the viewport, preventing scrolling */
  height: 100%;
  overflow: hidden;
}

#root {
  /* Container with id root, where React is rendered */
  /* Positioning */
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

#main-area {
  display: flex;
  flex: 1;
  overflow-y: hidden;
}

#new-alert-button {
  border: 2px dashed rgba(0, 150, 150, 0.45);
  padding: 10px;
  border-radius: 6px;
  color: rgba(0, 150, 150, 0.8);
  width: 400px;
  text-align: center;
  cursor: pointer;
  transition:
    color 0.4s ease,
    background-color 0.4s ease,
    border-color 0.3s ease;
}

#new-alert-button:hover {
  background-color: rgba(255, 255, 255, 0.04);
  border: 2px dashed rgba(0, 200, 200, 0.7);
  color: rgb(0, 200, 200);
}

#new-alert-button:active {
  background-color: #243346; /* pressed look */
  border: 2px dashed rgba(0, 160, 160, 0.9);
  transition:
    background-color 0s,
    border-color 0s;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
