#chart {
  background-color: #111827;
  border: 1px solid #00d6d6;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00ffff;
  padding: 20px;
  flex: 1;
  box-shadow: 0 0 12px rgba(0, 255, 255, 0.15);
}

#chart>p {
  margin: 40px;
  text-align: center;
}