#chart {
  background-color: #111827;
  border: 1px solid #00d6d6;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00ffff;
  padding: 20px;
  flex: 1;
  box-shadow: 0 0 12px rgba(0, 255, 255, 0.15);
  margin: 0 20px 20px;
}

#chart>p {
  margin: 40px;
  text-align: center;
  opacity: 0;
  animation: fadeIn 0.55s cubic-bezier(0.25, 0.8, 0.4, 1) forwards;
  font-size: 1.1rem;
  transform: translateY(6px);
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}