.alert {
  background-color: #1f2937;
  border: 1px solid #374151;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e0e0e0;
  width: 400px;
  transition: transform 0.3s;
  margin: 5px;
}

.alert:hover {
  transform: scale(1.02);
}

.delete-button {
  background: none;
  border: 1px solid rgba(255, 0, 0, 0);
  color: #ff4c4c;
  cursor: pointer;
  font-weight: bold;
  border-radius: 6px;
  padding: 4px 8px;
  transition: all 0.35s;
}

.delete-button:hover {
  background-color: rgba(175, 0, 0, 0.18);
  border: 1px solid rgba(180, 0, 0, 0.18);
}