#alerts-manager {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#new-alert-button {
  border: 2px dashed rgba(0, 150, 150, 0.45);
  padding: 10px;
  border-radius: 6px;
  color: rgba(0, 150, 150, 0.8);
  width: 400px;
  text-align: center;
  cursor: pointer;
  transition:
    color 0.4s ease,
    background-color 0.4s ease,
    border-color 0.3s ease,
    transform 0.3s,
    box-shadow 0.3s;
  margin: 5px;
}

#new-alert-button:hover {
  background-color: rgba(255, 255, 255, 0.04);
  border: 2px dashed rgba(0, 200, 200, 0.7);
  color: rgb(0, 200, 200);
  transform: scale(1.02);
  box-shadow: 0 0 6px rgba(0, 255, 255, 0.35);
}

#new-alert-button:active {
  background-color: #243346; /* pressed look */
  border: 2px dashed rgba(0, 160, 160, 0.9);
  transition:
    background-color 0s,
    border-color 0s;
}